In [1]:
from openpyxl import Workbook, load_workbook
import pandas as pd
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row
import numpy as np

In [76]:
from szp_funcs import path_to_data, path_to_docs, get_fio, load_month, print_df, day_types, gku_inn, load_groups

In [57]:
month = 'apr'

In [58]:
res = load_month(month)

In [59]:
donach = pd.read_excel(path_to_data + 'early_may' + '.xlsx')

In [78]:
ped, isp, aup = load_groups('input')

In [61]:
donach

              inn           snils       sum
0      7734408766  054-243-407 30   8460.14
1      7720016173  001-173-705 86  10000.00
2      7720016173  001-321-850 73  10000.00
3      7720016173  001-341-976 96  12625.00
4      7720016173  001-529-331 99  10000.00
...           ...             ...       ...
62126  7722069597  172-553-817 78  15400.00
62127  7722069597  176-492-809 15  10000.00
62128  7722069597  180-043-194 29  10000.00
62129  7722069597  182-270-811 60  12100.00
62130  7722069597  202-693-820 52  18850.00

[62131 rows x 3 columns]

In [62]:
res = pd.merge(res, donach, how='left')

In [63]:
res

,inn,snils,sum_apr,job_apr,day_apr,type_apr,stv_apr,status_apr,status_pref_apr,wday_apr,nday_apr,sum
0,5003021368,001-171-362 75,58500.00,Помощник воспитателя,1.0,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN
1,5003021368,001-191-281 85,105890.88,Учитель,1.0,Основное место работы,1.0,Работа,Работа,21.0,21.0,10000.0
2,5003021368,001-244-107 65,98522.15,Учитель,1.0,Основное место работы,1.0,Работа,Работа,21.0,21.0,10000.0
3,5003021368,001-263-234 77,77794.00,Воспитатель,1.0,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN
4,5003021368,001-322-594 80,75815.00,Специалист,1.0,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
166061,9718071371,198-036-430 93,110851.00,Бухгалтер,1.0,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN
166062,9718071371,198-317-420 02,77596.00,Бухгалтер,1.0,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN
166063,9718071371,199-418-719 35,130851.00,Бухгалтер,1.0,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN
166064,9718071371,205-412-630 13,192276.84,Начальник группы,0.0,Основное место работы,1.0,Работа,Работа,17.0,21.0,NaN
166065,9718071371,207-424-489 53,107526.00,Бухгалтер,1.0,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN

In [64]:
res['sum_' + month] = res['sum_' + month] + res['sum']

In [65]:
pre_ans = res[(res['job_' + month] == 'Учитель') &  (res['sum_' + month] < 84100) & (res['type_' + month] == day_types[0]) & (res['status_' + month] == res['status_pref_' + month]) & (res['status_' + month] == 'Работа') & (res['day_' + month] == 1) & (res.inn.isin(gku_inn) == False)]

In [66]:
pre_ans['norm'] = pre_ans.apply(lambda row: row['stv_' + month] if row['stv_' + month] < 1 else 1, axis=1)

C:\Users\PetukhovMD\AppData\Local\Temp\ipykernel_23592\3087062275.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre_ans['norm'] = pre_ans.apply(lambda row: row['stv_' + month] if row['stv_' + month] < 1 else 1, axis=1)

In [67]:
pre_ans['norm_sum'] = pre_ans['sum_' + month] / pre_ans.norm

C:\Users\PetukhovMD\AppData\Local\Temp\ipykernel_23592\2983609940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre_ans['norm_sum'] = pre_ans['sum_' + month] / pre_ans.norm

In [75]:
pd.merge(pre_ans[(pre_ans.norm_sum < 84100) & (pre_ans['stv_' + month] < 1)], fio)

,inn,snils,sum_apr,job_apr,day_apr,type_apr,stv_apr,status_apr,status_pref_apr,wday_apr,nday_apr,sum,norm,norm_sum,fio
0,7715303782,137-565-320 74,29873.16,Учитель,1.0,Основное место работы,0.722222,Работа,Работа,21.0,21.0,10000.00,0.722222,41362.836923,Григоренко Марина Генриховна
1,7720029197,020-672-395 26,60231.53,Учитель,1.0,Основное место работы,0.720000,Работа,Работа,21.0,21.0,10000.00,0.720000,83654.902778,Томилина Елена Степановна
2,7727177370,001-279-240 03,49255.71,Учитель,1.0,Основное место работы,0.830000,Работа,Работа,26.0,26.0,10000.00,0.830000,59344.228916,Богданова Марина Алексеевна
3,7727177370,001-328-051 78,51671.75,Учитель,1.0,Основное место работы,0.660000,Работа,Работа,26.0,26.0,10000.00,0.660000,78290.530303,Кузьменко Татьяна Александровна
4,7727177370,020-427-533 01,64688.04,Учитель,1.0,Основное место работы,0.830000,Работа,Работа,26.0,26.0,9825.07,0.830000,77937.397590,Гришина Наталья Владимировна
5,7728007477,110-142-290 75,66812.44,Учитель,1.0,Основное место работы,0.890000,Работа,Работа,21.0,21.0,10800.00,0.890000,75070.157303,Павлова Жанна Александровна

In [74]:
fio = get_fio()

In [44]:
pre_ans[pre_ans.snils == '001-304-465 70']

Empty DataFrame
Columns: [inn, snils, sum_apr, job_apr, day_apr, type_apr, stv_apr, status_apr, status_pref_apr, wday_apr, nday_apr, norm, norm_sum]
Index: []

In [45]:
df = pd.read_excel('min_teach.xlsx')

In [46]:
df = df.drop(columns='Unnamed: 0').dropna()

In [47]:
check = df['snils'].to_list()

In [48]:
len(check)

125

In [49]:
res[res.snils.isin(check)]['status_' + month].unique()

array(['Работа', 'Болезнь', nan, 'Отпуск по беременности и родам'],
      dtype=object)

In [50]:
pre_ans[pre_ans.snils.isin(check)]

,inn,snils,sum_apr,job_apr,day_apr,type_apr,stv_apr,status_apr,status_pref_apr,wday_apr,nday_apr,norm,norm_sum
6628,5074019220,042-388-418 57,44206.68,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,44206.680000
8837,7701377657,039-755-447 00,80223.39,Учитель,1.0,Основное место работы,1.06,Работа,Работа,21.0,21.0,1.00,80223.390000
9665,7702058364,158-061-578 75,64438.04,Учитель,1.0,Основное место работы,1.00,Работа,Работа,20.0,20.0,1.00,64438.040000
12643,7703808740,004-582-262 25,79102.80,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,79102.800000
15441,7705052410,018-519-684 72,74429.16,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,74429.160000
28114,7713781889,116-700-932 35,73344.56,Учитель,1.0,Основное место работы,0.56,Работа,Работа,21.0,21.0,0.56,130972.428571
32026,7714890087,010-606-232 82,83637.00,Учитель,1.0,Основное место работы,1.00,Работа,Работа,26.0,26.0,1.00,83637.000000
32052,7714890087,013-784-381 52,83608.60,Учитель,1.0,Основное место работы,1.00,Работа,Работа,26.0,26.0,1.00,83608.600000
32199,7714890087,026-366-196 56,80168.80,Учитель,1.0,Основное место работы,1.00,Работа,Работа,26.0,26.0,1.00,80168.800000
32436,7714890087,117-715-227 49,68375.20,Учитель,1.0,Основное место работы,1.00,Работа,Работа,26.0,26.0,1.00,68375.200000
32596,7714890087,161-128-877 56,83117.20,Учитель,1.0,Основное место работы,1.00,Работа,Работа,26.0,26.0,1.00,83117.200000
32627,7714890087,175-784-794 39,73750.60,Учитель,1.0,Основное место работы,1.00,Работа,Работа,26.0,26.0,1.00,73750.600000
35945,7715303454,079-792-694 52,51882.50,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,51882.500000
50378,7717024086,004-410-162 74,75186.26,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,75186.260000
50392,7717024086,008-538-190 53,74328.30,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,74328.300000
50904,7717043346,004-803-873 28,83757.50,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,83757.500000
62034,7719035132,197-558-856 55,74258.74,Учитель,1.0,Основное место работы,1.00,Работа,Работа,26.0,26.0,1.00,74258.740000
73870,7720830590,115-118-239 15,70890.65,Учитель,1.0,Основное место работы,1.00,Работа,Работа,26.0,26.0,1.00,70890.650000
105218,7725247657,057-603-586 73,65448.64,Учитель,1.0,Основное место работы,1.00,Работа,Работа,36.0,21.0,1.00,65448.640000
112254,7726510766,001-508-528 96,83028.81,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,83028.810000
122367,7727801020,041-082-262 06,66382.20,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,66382.200000
132272,7728261353,182-525-264 68,74130.56,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,74130.560000
145207,7731174051,004-696-974 77,74193.74,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,74193.740000
145210,7731174051,004-966-329 57,74164.62,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,74164.620000
145339,7731174051,042-931-063 33,74174.43,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,74174.430000
145351,7731174051,049-764-347 05,74177.37,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,74177.370000
149441,7732004550,167-945-122 07,56070.00,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,56070.000000
151334,7732117313,161-861-692 83,69770.46,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,69770.460000
160415,7734039741,002-025-018 54,83170.00,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,83170.000000
163955,7734249770,191-192-205 57,72243.80,Учитель,1.0,Основное место работы,1.00,Работа,Работа,26.0,26.0,1.00,72243.800000
167409,7735062743,106-529-451 49,66011.65,Учитель,1.0,Основное место работы,1.00,Работа,Работа,21.0,21.0,1.00,66011.650000
167849,7735062750,029-153-925 57,82282.50,Учитель,1.0,Основное место работы,1.61,Работа,Работа,21.0,21.0,1.00,82282.500000
171637,7736076587,066-287-071 84,57456.00,Учитель,1.0,Основное место работы,0.66,Работа,Работа,26.0,26.0,0.66,87054.545455