In [18]:
import pandas as pd
import numpy as np
from openpyxl import Workbook

In [19]:
from szp_funcs import print_df, get_otv, load_month, path_to_docs

In [38]:
month = 'may'
status = ['Увольнение']
job_list = ['Педагог-организатор']#, 'Педагог дополнительного образования', 'Старший педагог дополнительного образования']

In [39]:
res = load_month(month)
otv = get_otv()

In [40]:
res

,inn,snils,sum_may,type_may,stv_may,status_may,sum_all_may,status_pref_may,wday_may,nday_may,spec_may,day_may,job_may
0,5003021368,001-171-362 75,58500.00,Основное место работы,1.0,Работа,58500.00,Работа,18.0,18.0,NaN,1.0,Помощник воспитателя
1,5003021368,001-191-281 85,122184.88,Основное место работы,1.0,Отсутствие с сохранением оплаты,122184.88,Работа,17.0,18.0,NaN,0.0,Учитель
2,5003021368,001-244-107 65,128681.78,Основное место работы,1.0,NaN,128681.78,Работа,15.0,18.0,NaN,0.0,Учитель
3,5003021368,001-263-234 77,79619.03,Основное место работы,1.0,Отпуск основной,185573.03,Работа,16.0,18.0,NaN,0.0,Воспитатель
4,5003021368,001-322-594 80,37907.50,Основное место работы,1.0,Работа,37907.50,Работа,9.0,18.0,NaN,0.0,Специалист
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188380,9718071371,198-317-420 02,110851.00,Основное место работы,1.0,Работа,110851.00,Работа,18.0,18.0,NaN,1.0,Бухгалтер
188381,9718071371,199-418-719 35,153851.00,Основное место работы,1.0,Работа,153851.00,Работа,18.0,18.0,NaN,1.0,Бухгалтер
188382,9718071371,205-412-630 13,209199.25,Основное место работы,1.0,Работа,209199.25,Работа,13.0,18.0,NaN,0.0,Начальник группы
188383,9718071371,206-135-584 35,27528.33,Основное место работы,1.0,NaN,27528.33,NaN,6.0,11.0,NaN,0.0,Бухгалтер
188384,9718071371,207-424-489 53,62789.11,Основное место работы,1.0,Работа,62789.11,Работа,8.0,18.0,NaN,0.0,Бухгалтер

In [41]:
res['status_' + month].unique()

array(['Работа', 'Отсутствие с сохранением оплаты', nan,
       'Отпуск основной', 'Болезнь', 'Дополнительный отпуск',
       'Работа в отпуске по уходу за ребенком',
       'Отпуск по беременности и родам', 'Отпуск учебный оплачиваемый',
       'Отпуск неоплачиваемый по разрешению работодателя',
       'Отпуск по уходу за ребенком', 'Отпуск учебный неоплачиваемый',
       'Болезнь без оплаты', 'Командировка',
       'Отсутствие по невыясненным причинам',
       'Дополнительный отпуск (неоплачиваемый)',
       'Отпуск неоплачиваемый по законодательству',
       'Отпуск на санаторно-курортное лечение'], dtype=object)

In [42]:
ans = res[(res['status_' + month].isin(status) == False) & (res['type_' + month] == 'Основное место работы') & (res['job_' + month].isin(job_list))][['inn', 'snils']].groupby('inn').nunique().reset_index()

In [43]:
ans['snils'].sum()

3119

In [44]:
otv

,inn,okr,otv,sch_name,ekis
0,7743085543,САО,Рагимова Виктория Олеговна,ГБОУ Спецшкола № 1,13964.0
1,7713229928,САО,Горбанева Светлана Васильевна,ГБОУ ПМКК,13136.0
2,7704271031,ЦАО,Майильян Елена Александровна,ГБПОУ ПТ № 2,13277.0
3,7714093099,САО,Горбанева Светлана Васильевна,ГКОУ СКОШИ № 2,13139.0
4,7709438340,ЦАО,Майильян Елена Александровна,ГБПОУ КСУ № 3,11681.0
...,...,...,...,...,...
935,7728113806,NaN,NaN,ИКИ РАН,NaN
936,7728013512,NaN,NaN,ИПУ РАН,NaN
937,7717067481,NaN,NaN,ГБОУ ШОР № 1,NaN
938,7729133548,NaN,NaN,СУНЦ МГУ,NaN
939,7734121555,NaN,NaN,ФГАУ «УИСП» Минобороны России,NaN

In [45]:
print_df(pd.merge(ans, otv[['inn', 'sch_name', 'otv']], how='left'), 'Список людей на должностях ' + ', '.join(job_list) + ' ' + month)