In [14]:
import pandas as pd
import numpy as np
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row

In [8]:
from szp_funcs import load_sch_types, months_year, path_to_data

In [7]:
months = months_year[:7]

In [3]:
sch_types = load_sch_types()

In [4]:
sch_types

            inn sch_type
0    7713229928       ОО
1    7743085543       ОО
2    7704271031      СПО
3    7714093099       ОО
4    7709438340      СПО
..          ...      ...
672  7705399348      ЦГУ
673  7708044657      СПО
674  7721221802       ОО
675  7726548174       ОО
676  7702061938      ЦГУ

[677 rows x 2 columns]

In [18]:
nach = pd.read_excel(path_to_data + months[-1] + '_nach.xlsx')
inns = sch_types[sch_types.sch_type == 'СПО']['inn'].to_list()

In [13]:
nach[nach.inn.isin(inns)]

,inn,snils,type,pre_name,nach_sum,kfo,nach_type,job
0,7734408766,001-879-913 57,Основное место работы,Доплата за заведование кабинетами (лаборатория...,1071.43,4.0,Компенсационные выплаты,Преподаватель
1,7734408766,001-879-913 57,Основное место работы,Доплата за увеличение объема работ,2660.00,2.0,Компенсационные выплаты,Преподаватель
2,7734408766,001-879-913 57,Основное место работы,Оклад (должностной оклад),3232.59,2.0,Базовая часть,Преподаватель
3,7734408766,001-879-913 57,Основное место работы,Оклад (должностной оклад),3067.21,4.0,Базовая часть,Преподаватель
4,7734408766,002-845-525 25,Основное место работы,Доплата за выполнение обязанностей временно от...,24000.00,4.0,Компенсационные выплаты,Преподаватель
...,...,...,...,...,...,...,...,...
467973,7737066359,179-593-279 42,Основное место работы,Средний заработок при предоставлении ежегодног...,9269.43,5.0,Базовая часть,Преподаватель
467974,7737066359,179-593-279 42,Основное место работы,Средний заработок при предоставлении ежегодног...,288366.96,4.0,Базовая часть,Преподаватель
467975,7737066359,179-593-279 42,Основное место работы,Тарифная ставка,651.43,2.0,Базовая часть,Преподаватель
467976,7737066359,179-593-279 42,Основное место работы,Тарифная ставка,13716.00,4.0,Базовая часть,Преподаватель
467977,7737066359,179-593-279 42,Основное место работы,Федеральное ежемесячное денежное вознаграждени...,714.29,5.0,Компенсационные выплаты,Преподаватель

In [12]:
len(inns)

51

In [17]:
kadr = pd.read_excel(path_to_data + months[-1] + '_kadr.xlsx')

In [19]:
kadr = kadr[kadr.inn.isin(inns)]
nach = nach[nach.inn.isin(inns)]

In [21]:
nach.columns

Index(['inn', 'snils', 'type', 'pre_name', 'nach_sum', 'kfo', 'nach_type',
       'job'],
      dtype='object')

In [23]:
nach

,inn,snils,type,pre_name,nach_sum,kfo,nach_type,job
0,7734408766,001-879-913 57,Основное место работы,Доплата за заведование кабинетами (лаборатория...,1071.43,4.0,Компенсационные выплаты,Преподаватель
1,7734408766,001-879-913 57,Основное место работы,Доплата за увеличение объема работ,2660.00,2.0,Компенсационные выплаты,Преподаватель
2,7734408766,001-879-913 57,Основное место работы,Оклад (должностной оклад),3232.59,2.0,Базовая часть,Преподаватель
3,7734408766,001-879-913 57,Основное место работы,Оклад (должностной оклад),3067.21,4.0,Базовая часть,Преподаватель
4,7734408766,002-845-525 25,Основное место работы,Доплата за выполнение обязанностей временно от...,24000.00,4.0,Компенсационные выплаты,Преподаватель
...,...,...,...,...,...,...,...,...
467973,7737066359,179-593-279 42,Основное место работы,Средний заработок при предоставлении ежегодног...,9269.43,5.0,Базовая часть,Преподаватель
467974,7737066359,179-593-279 42,Основное место работы,Средний заработок при предоставлении ежегодног...,288366.96,4.0,Базовая часть,Преподаватель
467975,7737066359,179-593-279 42,Основное место работы,Тарифная ставка,651.43,2.0,Базовая часть,Преподаватель
467976,7737066359,179-593-279 42,Основное место работы,Тарифная ставка,13716.00,4.0,Базовая часть,Преподаватель
467977,7737066359,179-593-279 42,Основное место работы,Федеральное ежемесячное денежное вознаграждени...,714.29,5.0,Компенсационные выплаты,Преподаватель

In [32]:
ans = pd.merge(kadr[['inn', 'snils', 'status', 'job', 'type']].drop_duplicates(), nach.drop(columns=['type']), how='left', on=['inn', 'snils', 'job'])

In [35]:
inns = sch_types[sch_types.sch_type == 'СПО']['inn'].to_list()
wb = Workbook()
for month in months:
    nach = pd.read_excel(path_to_data + month + '_nach.xlsx')
    nach = nach[nach.inn.isin(inns)]
    kadr = pd.read_excel(path_to_data + month + '_kadr.xlsx')
    kadr = kadr[kadr.inn.isin(inns)]
    ans = pd.merge(kadr[['inn', 'snils', 'status', 'job', 'type']].drop_duplicates(), nach, how='left', on=['inn', 'snils', 'job', 'type'])
    ws = wb.create_sheet()
    ws.title = month
    for i in df_to_row(ans, header=True, index=False):
        ws.append(i)
wb.save(r'C:\Users\PetukhovMD\Desktop\СПО начисления' + '\\' + 'начисления по СПО с ' + months[0] + ' по ' + months[-1] + '.xlsx')