In [2]:
from openpyxl import Workbook, load_workbook
import pandas as pd
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row
import numpy as np

In [11]:
from szp_funcs import path_to_data, print_df, to_double, load_month, day_types

In [7]:
months = ['apr']
inn = 7736110982
jobs = ['Воспитатель', 'Учитель']

In [5]:
res = load_month(months[0])

In [12]:
search = res[(res.inn == inn) & (res[months[0] + '_job'].isin(jobs)) & (res[months[0] + '_type'] == day_types[0])]

In [13]:
search

,inn,snils,apr_sum,apr_job,apr_day,apr_type,apr_stv,apr_status,apr_status_pref,apr_wday,apr_nday
172084,7736110982,001-192-067 85,94951.92,Учитель,0.0,Основное место работы,1.44,Работа,Работа,20.0,21.0
172085,7736110982,001-192-122 75,101225.29,Учитель,0.0,Основное место работы,1.78,Работа,Болезнь,17.0,21.0
172093,7736110982,001-360-756 92,160144.27,Учитель,1.0,Основное место работы,1.67,Работа,Работа,21.0,21.0
172098,7736110982,001-458-969 35,116408.33,Учитель,0.0,Основное место работы,1.28,Работа,Работа,20.0,21.0
172158,7736110982,001-731-434 90,115289.11,Учитель,1.0,Основное место работы,1.33,Работа,Работа,21.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...
173753,7736110982,189-198-323 33,147372.00,Учитель,1.0,Основное место работы,1.72,Работа,Работа,21.0,21.0
173766,7736110982,191-009-805 52,53189.62,Учитель,0.0,Основное место работы,0.67,Отпуск учебный оплачиваемый,Работа,16.0,21.0
173775,7736110982,193-132-196 57,54014.13,Воспитатель,0.0,Основное место работы,1.00,Работа,Работа,16.0,21.0
173784,7736110982,194-726-782 22,93517.78,Учитель,0.0,Основное место работы,1.32,Болезнь,Работа,17.0,21.0
173808,7736110982,203-797-890 95,126955.20,Учитель,1.0,Основное место работы,1.78,Работа,Работа,21.0,21.0

In [15]:
search[['snils', months[0] + '_job']].groupby(months[0] + '_job').nunique()

             snils
apr_job
Воспитатель     22
Учитель        132